# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystems are summarized

**objectives**
* Python
* R
* SQL

Some of the common languages that data scientists use are [Python , R ,SQL]

Some of the commonly used libraries used by Data Scientists include:

In [4]:
["Numpy","Pandas","Seaborn"]

['Numpy', 'Pandas', 'Seaborn']

| Data Science Tools |
|--------------------|
|Jupyter|
|R-Studio|
|VS code|

### Below are a few examples of evaluating arithmetic expression in python

In [7]:
# This is simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [8]:
#this will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Atharva f